{% extends 'base.html.twig' %}

    {% block title %}{{ 'list_title'|trans }}{% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('company-list') }}
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('company-list') }}
    {% endblock %}


{% block body %}
    {% include 'menu.html.twig' %}
    {% include 'mob-menu.html.twig' %}
<div class="container">
    <h2 class="section-title__list-main font-w-700">LISTA WYRÓŻNIONYCH</h2>
    <div class="award-list">
        <div class="award-item">
            <div class="company-info">
                <p class="company-name">PKN ORLEN S.A.</p>
                <p class="company-location">Warszawa</p>
            </div>
            <div class="company-action">
                <button class="show-btn">Pokaż</button>
            </div>
        </div>
        <div class="award-item">
            <div class="company-info">
                <p class="company-name">PKN ORLEN S.A.</p>
                <p class="company-location">Warszawa</p>
            </div>
            <div class="company-action">
                <button class="show-btn">Pokaż</button>
            </div>
        </div>
        <div class="award-item">
            <div class="company-info">
                <p class="company-name">PKN ORLEN S.A.</p>
                <p class="company-location">Warszawa</p>
            </div>
            <div class="company-action">
                <button class="show-btn">Pokaż</button>
            </div>
        </div>
        <div class="award-item">
            <div class="company-info">
                <p class="company-name">PKN ORLEN S.A.</p>
                <p class="company-location">Warszawa</p>
            </div>
            <div class="company-action">
                <button class="show-btn">Pokaż</button>
            </div>
        </div>
        <div class="award-item">
            <div class="company-info">
                <p class="company-name">PKN ORLEN S.A.</p>
                <p class="company-location">Warszawa</p>
            </div>
            <div class="company-action">
                <button class="show-btn">Pokaż</button>
            </div>
        </div>
        <div class="award-item">
            <div class="company-info">
                <p class="company-name">PKN ORLEN S.A.</p>
                <p class="company-location">Warszawa</p>
            </div>
            <div class="company-action">
                <button class="show-btn">Pokaż</button>
            </div>
        </div>
        <div class="award-item">
            <div class="company-info">
                <p class="company-name">PKN ORLEN S.A.</p>
                <p class="company-location">Warszawa</p>
            </div>
            <div class="company-action">
                <button class="show-btn">Pokaż</button>
            </div>
        </div>
        <div class="award-item">
            <div class="company-info">
                <p class="company-name">PKN ORLEN S.A.</p>
                <p class="company-location">Warszawa</p>
            </div>
            <div class="company-action">
                <button class="show-btn">Pokaż</button>
            </div>
        </div>
        <div class="award-item">
            <div class="company-info">
                <p class="company-name">PKN ORLEN S.A.</p>
                <p class="company-location">Warszawa</p>
            </div>
            <div class="company-action">
                <button class="show-btn">Pokaż</button>
            </div>
        </div>
        <div class="award-item">
            <div class="company-info">
                <p class="company-name">PKN ORLEN S.A.</p>
                <p class="company-location">Warszawa</p>
            </div>
            <div class="company-action">
                <button class="show-btn">Pokaż</button>
            </div>
        </div>
        <div class="award-item">
            <div class="company-info">
                <p class="company-name">PKN ORLEN S.A.</p>
                <p class="company-location">Warszawa</p>
            </div>
            <div class="company-action">
                <button class="show-btn">Pokaż</button>
            </div>
        </div>
        <div class="award-item">
            <div class="company-info">
                <p class="company-name">PKN ORLEN S.A.</p>
                <p class="company-location">Warszawa</p>
            </div>
            <div class="company-action">
                <button class="show-btn">Pokaż</button>
            </div>
        </div>
        <div class="award-item">
            <div class="company-info">
                <p class="company-name">PKN ORLEN S.A.</p>
                <p class="company-location">Warszawa</p>
            </div>
            <div class="company-action">
                <button class="show-btn">Pokaż</button>
            </div>
        </div>
        <div class="award-item">
            <div class="company-info">
                <p class="company-name">PKN ORLEN S.A.</p>
                <p class="company-location">Warszawa</p>
            </div>
            <div class="company-action">
                <button class="show-btn">Pokaż</button>
            </div>
        </div>
        <div class="award-item">
            <div class="company-info">
                <p class="company-name">PKN ORLEN S.A.</p>
                <p class="company-location">Warszawa</p>
            </div>
            <div class="company-action">
                <button class="show-btn">Pokaż</button>
            </div>
        </div>
        <div class="award-item">
            <div class="company-info">
                <p class="company-name">PKN ORLEN S.A.</p>
                <p class="company-location">Warszawa</p>
            </div>
            <div class="company-action">
                <button class="show-btn">Pokaż</button>
            </div>
        </div>
        <div class="award-item">
            <div class="company-info">
                <p class="company-name">PKN ORLEN S.A.</p>
                <p class="company-location">Warszawa</p>
            </div>
            <div class="company-action">
                <button class="show-btn">Pokaż</button>
            </div>
        </div>
        <div class="award-item">
            <div class="company-info">
                <p class="company-name">PKN ORLEN S.A.</p>
                <p class="company-location">Warszawa</p>
            </div>
            <div class="company-action">
                <button class="show-btn">Pokaż</button>
            </div>
        </div>
        <div class="award-item">
            <div class="company-info">
                <p class="company-name">PKN ORLEN S.A.</p>
                <p class="company-location">Warszawa</p>
            </div>
            <div class="company-action">
                <button class="show-btn">Pokaż</button>
            </div>
        </div>
        <div class="award-item">
            <div class="company-info">
                <p class="company-name">PKN ORLEN S.A.</p>
                <p class="company-location">Warszawa</p>
            </div>
            <div class="company-action">
                <button class="show-btn">Pokaż</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
